@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
*
{
    margin: 0px;
    padding: 0px;
}

html
{
    scroll-behavior: smooth;
}

body
{
    width: 100vw;
    height: 150vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    overflow-x: hidden;
}

/* -------------------Header-------------------  */
header
{
    top: 0px;
    width: 100%;
    height: 5rem;
    z-index: 999;
    
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    
    background-color: #404040;
    border-bottom: 1px #8a2be2 solid;
}

header #logo
{
    left: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    text-decoration: none
}

header #logo img
{
    padding-left: 1%;
    padding-top: 0.2;
    height: 90%;
}

header #logo h3
{
    font-family: "Roboto", sans-serif;
    margin-left: 1.4rem;
    padding-top: 1.2rem;
    
    font-size: 2rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

header #logo h3:hover 
{   
    opacity: 50%;
}

header #menu
{
    height: 100%;
    text-decoration: none;
}

header #menu p
{
    color: #FFFFFF;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    transition: 0.5s;
    padding-top: 1.2rem;
    margin-right: 1rem;
}

header #menu p:hover
{
    opacity: 50%;
}

header #menu p:active
{
    color: #8a2be2;
}

/* -------------------Banner------------------- */
main #banner
{
    width: 95%;
    height: auto;
    padding-left: 2.5%;
    
    padding-top: 0%;
    margin-bottom: 5%;
}

main #banner img
{
    width: 100%;   
    height: auto;
}

main #banner i
{
    font-size: 2rem;

    color: black;
    transition: 0.3s;
}

main #banner i:hover
{
    opacity: 60%;
}

/* -------------------Main------------------- */
main
{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    top: 7rem;
    margin-bottom: 1rem;
}

main .product-item
{   
    margin-left: calc((100% - 60rem) / 2);
    max-width: 60rem;;
    height: 18rem;

    display: flex;
    flex-direction: row;
    justify-content: left;

    margin-bottom: 1rem;
    
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 1px 1px;
}

main #last-product
{
    margin-bottom: 5.8rem;
}

main .product-item #product-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-left: 1.5rem;
    max-width: 75%;
    height: 100%;
}

main .product-item #product-description h1
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;

    text-decoration: bold;
    color: #404040;
}

main .product-item #product-description p
{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

main .product-item #img-button
{
    width: 100%;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

main .product-item #img-button img
{
    margin-top: 3rem;
    margin-left: 1.5rem;
    max-width: 10rem;
    max-height: 10rem;

    border-radius: 10px;
}

main .product-item #img-button #more-info-button 
{
    max-width: 10rem;
    height: 3rem;
    padding-top: 1rem;

    margin-bottom: 1rem;
    margin-left: 1.5rem;

    background-color: #ffa500;
    border-radius: 10px;
    
    transition: 0.2s;
}

main .product-item #img-button #more-info-button a
{
    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    left: 0px;
}

main .product-item #img-button #more-info-button a i
{
    width: 100%;
    height: 100%;
}

main .product-item #img-button #more-info-button:hover 
{
    background-color: #d48b02;
}

/* -------------------Footer------------------- */
footer
{
    position: fixed;
    width: 100%;
    bottom: 0px;

    display: flex;
    justify-content: space-between;

    height: 4rem;
    background-color: #404040;
    border-top: solid 1px #8a2be2;
}

footer a
{
    width: 50%;
    padding-top: 1rem;
    text-align: center;

    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    text-decoration: none;
}

footer a i
{
    display: flex;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #FFFFFF;
    transition: 0.5s;
}

footer a i:hover
{
    opacity: 50%;
}

footer a i:active
{
    color:#8a2be2;
}

/* -------------------Mobile------------------- */
@media only screen and (max-width: 990px)
{
    main #banner img
    {
        margin-bottom: 1rem;
    }

    main #banner a
    {
        position: fixed;
        pointer-events: none;
        opacity: 0;
    }

    main .product-item
    {
        margin-left: 5vw;
        max-width: 90vw;
        height: 46rem;

        flex-direction: column;
        justify-content: center;
    }

    main .product-item #product-description
    {
        max-width: 90%;
        margin-left: 5%;
    }

    main .product-item #product-description p
    {
        text-align: justify;
    }

    main .product-item #img-button
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    main .product-item #img-button img
    {
        margin-top: 1rem;
        margin-left: calc(50% - 5rem);
    }

    main .product-item #img-button #more-info-button
    {
        margin-left: calc(50% - 5rem);
        margin-bottom: 2rem;
    }
}